/*All page BEGIN*/
*{
	/*Position*/
	margin: 0px;
   padding: 0px;

   /*Font*/
   font-family: Roboto, sans-serif;
	line-height: 1.154em;
	font-weight: 400;
   text-decoration: none;
}
.textSelectNone{
	/*Behaviour*/
	-moz-user-select: none;
	-khtml-user-select: none; 
	-webkit-user-select: none;
	user-select: none;
}

body {
	/*View*/
	background: #B3FFE1;
	background: #EDEEF0;
}
/*All page END*/
/*Wrapper BEGIN*/
#wrapper{
	margin: 20px auto;
	width: 1000px;
	background: white;
}
/*Wrapper END*/
/*Header BEGIN*/
header {
	/*Propertities*/
	width: 100%;
	height: 50px;
	/*Position*/
	margin-bottom: 20px;	
	background: #F3EED1;
}
#DestroyerBar{
	/*Propertities*/
	
	/*View*/
	/*Font*/
	/*Position*/
	float: left;
}
#BuilderBar{
	/*Propertities*/
	
	/*View*/
	/*Font*/
	/*Position*/
	float: right;
}

/*User Loggining Box BEGIN*/
#userLoggingBox{

}
#Nickname{
	/*Font*/
   font-family: Arial, sans-serif;
	line-height: 30px;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}
	/*Hided if user loggining*/
.logButton{
	display: none;
}
#Login{

}
#SingUp{

}
/*User Loggining Box BEGIN*/
/*Header END*/
/*Main BEGIN*/
main {
	/*View*/
	width: 100%;
	background: #E2E1CF;
	/*Position*/
	margin-bottom: 20px;	
	padding-bottom: 20px;
}
#Rules{
	/*Font*/
	text-align: justify;
	text-indent: 15px;
	/*Position*/
	padding: 40px 30px;
}
/*Buttons at Main BEGIN*/
.startGameButton{
	/*Properties*/
	display: block;
	width: 200px;
	height: 60px;
	/*Behaviour*/
	cursor: pointer;
	/*Font*/
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: white;
	line-height: 60px;
	text-align: center;
	/*Position*/
	margin: 20px auto;
}
#StartAdventures{
	/*View*/
	background: #268A87;
}
#StartAdventures:hover{
	/*View*/
	background: #137476;
}
#StartBuilding{
	/*View*/
	background: #268A87;
}
#StartBuilding:hover{
	/*View*/
	background: #137476;
}
/*Buttons at Main END*/
/*Main END*/
/*Footer BEGIN*/
footer {
	/*View*/
	background: #E2E11F;
	/*Position*/
	margin-top: 0px;	
	position: absolute;
	width: 1000px;
	height: 80px;
}
.footerElement{
	display: block;
	position: relative;
	width: 333.33px;
	height: 80px;
}
#Contacts{
	float: left;
	background: #3494CC;
}
#Ad{
	/*Behaviour*/
	cursor: pointer;
	/*Font*/
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	/*Position*/
	/*margin-left: 333.33px;*/
	float: left;
	background: #E82C0C;
}
#Ad:hover{
	background: #FF540D;
}
#BuyPRO{
	/*View*/
	background: #FFAC16;
	/*Behaviour*/
	cursor: pointer;
	/*Font*/
	font-size: 40px;
	line-height: 80px;
	text-align: center;
	/*Position*/
	float: right;
}
#BuyPRO:hover{
	background: #FFB635;
}

/*Footer END*/