/*All page BEGIN*/
*{
	/*Position*/
	margin: 0px;
   padding: 0px;

   /*Font*/
   font-family: Roboto, sans-serif;
	line-height: 1.154em;
	font-weight: 400;
   text-decoration: none;
}
/*c*/
.textSelectNone{
	/*Behaviour*/
	-moz-user-select: none;
	-khtml-user-select: none; 
	-webkit-user-select: none;
	user-select: none;
}

body {
	/*View*/
	background: #B3FFE1;
	background: #EDEEF0;
}
/*All page END*/
/*Wrapper BEGIN*/
#wrapper{
	margin: 20px auto;
	width: 1000px;
	background: white;
}
/*Wrapper END*/
/*Header BEGIN*/
header {
	/*Propertities*/
	width: 100%;
	height: 120px;
	/*Position*/
	margin-bottom: 20px;	
	background: #F3EED1;
}
#DestroyerBar{
	/*View*/
	/*Font*/
	/*Position*/
	float: left;
}
#BuilderBar{
	/*View*/
	/*Font*/
	/*Position*/
	float: right;
}

/*User Loggining Box BEGIN*/
#userLoggingBox{

}
#Nickname{
	/*Font*/
   font-family: Arial, sans-serif;
	line-height: 30px;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}
	/*Hided if user loggining*/
.logButton{
	display: none;
}
#Login{

}
#SingUp{

}
/*User Loggining Box BEGIN*/
/*Header END*/
/*Main BEGIN*/
main {
	/*View*/
	width: 100%;
	background: #E2E1CF;
	/*Position*/
	margin-bottom: 20px;	
	padding-bottom: 20px;
}
#Rules{
	/*Font*/
	text-align: justify;
	text-indent: 15px;
	/*Position*/
	padding: 40px 30px;
}
/*Buttons at Main BEGIN*/
.startGameButton{
	/*Properties*/
	display: block;
	width: 200px;
	height: 60px;
	/*Behaviour*/
	cursor: pointer;
	/*Font*/
	font-family: Arial, sans-serif;
	font-size: 24px;
	font-weight: 500;
	color: white;
	line-height: 60px;
	text-align: center;
	/*Position*/
	margin: 20px auto;
}
#StartAdventures{
	/*View*/
	background: #268A87;
}
#StartBuilding{
	/*View*/
	background: #137476;
}
#StartBuilding:hover{
	/*View*/
	background: red;
}
/*Buttons at Main END*/
/*Main END*/
/*Footer BEGIN*/
footer {
	/*View*/
	background: #E2E11F;
	/*Position*/
	margin-top: 20px;	
	padding: 20px 30px;
	position: absolute;
}
.footerElement{
	position: relative;
	display: inline;
	width: calc(100%/3);
}
#Contacts{}
#Ad{}
#BuyPRO{}

/*Footer END*/